body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
  margin-right: 60px;
}



#sidebar-container {
  margin-top: 12;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;

}

#footer-container {
  width: 100vw;
  background-color: white; /* Match the background */
  color: gray;
  font-size: 14px;
  padding: 20px 0;
}

.ig-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* space between links */
  margin-bottom: 10px;
}

.footer-links a {
  color: gray;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  color: gray;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}